html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 375px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Bokutoh_EB;
    background-color: #f0f1ed;
    background-image: url('/static/images/tileable_bg_large.webp');
    background-repeat: repeat;
    background-size: cover;
    background-position: top left;
}

.main-content {
    flex-grow: 1;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, button {
    margin-left: 10px;
}

ul {
    font-family: Bokutoh_M;
    list-style-type: none;
    padding: 0;
}

li {
    font-family: Bokutoh_M;
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a {
    color: unset;
    text-decoration: none;
}

a:visited {
    color: unset;
    text-decoration: none;
}

a:hover {
    color: unset;
    text-decoration: none;
}

@media (max-width: 768px) {
    html, body {
        min-height: 1000px;
    }
}

@media (max-width: 480px) {
    html, body {
        min-height: 800px;
    }
}