.fish_list_count {
    text-align: right;
    padding-right: 5%;
}


.fish_list_container {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 200px;
}

.fish-card {
    /* display: none; update this later */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 16px;
    background-color: rgb(255, 250, 227);
    min-width: 80px;
    width: 150px;
    height: auto;
    justify-content: center;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    flex-grow: 1;  /* Allow cards to grow and take up available space */
    box-sizing: border-box;  /* Include padding in the element's total width/height */
}

.fish-card img {
    /* background-size: cover; */
    top: 0;
    width: 64px;
    height: 64px;
    align-self: center;
    object-fit: scale-down;
    /* object-fit: contain; */
    /* margin-bottom: 10px; */
}

.fish-card-info {
    font-size: 10px;
    text-align: left;
}

.fish-card:hover {
    transform: translateY(-5px);
}

