@font-face {
    font-family: Bokutoh_EB;
    src: url("../fonts/Bokutoh_EB.otf");
}

@font-face {
    font-family: Bokutoh_M;
    src: url("../fonts/Bokutoh_M.otf");
}

.topnav {
    position: sticky;
    top: 0px;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: transparent;
    animation: bounce 2s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-23px);
    }

    60% {
        transform: translateX(-13px);
    }
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

body {
    font-family: Bokutoh_EB;
    background-color: #f0f0f0;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    font-family: Bokutoh_EB;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

h2 {
    padding: 20px;
}

h3 {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, button {
    margin-left: 10px;
}

ul {
    font-family: Bokutoh_M;
    list-style-type: none;
    padding: 0;
}

li {
    font-family: Bokutoh_M;
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_container_outer {
    width: 75%;
    border-radius: 16pt;
    overflow: overlay;
    padding-right: 2px;
    padding-top: 2px;
    border: 2px solid #ddd;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.image_container_inner {
    height: 600px;
    padding: 10px;
    overflow-y: overlay;
}

.button_container {
    padding: 1.3em 2em;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.button_container:hover {
    background-color: #23c483;
    color: #fff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

.button_container:active {
    transform: translateY(-1px);
}

.svg_button_container {
    border: 0px;
    margin-left: 5px;
    margin-right: auto;
    background-color: transparent;
}

.hemisphere_selection {
    width: 80px;
    margin-left: 0;
    margin-right: auto;
}

.fish_list_container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: left;
    /* Center the grid items */
}

.fish_list {
    flex: 0 1 15%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    /* Add border to grid items */
    text-align: center;
}

.fish_list_count {
    text-align: right;
}

.fish_list_count_color {
    color: hsl(calc(120 - (120 * var(--fish-count, 0) / 80)), 100%, 50%);
}

@media (max-width: 1200px) {
    .fish_list {
        flex: 0 1 28%;
        /* Adjust for medium screens */
    }
}

@media (max-width: 768px) {
    .fish_list {
        flex: 0 1 45%;
        /* Adjust for small screens */
    }
}

@media (max-width: 480px) {
    .fish_list {
        flex: 0 1 100%;
        /* Adjust for extra small screens */
    }
}