{% extends "base.html" %}

{% block input_a_attributes %}
class="active"
{% endblock %}
{% block body %}
<h1>Enter the fish you have caught (one per line):</h1>
<div class="flex-wrap display: flex-wrap">
  <form
    id="fish-form"
    onsubmit="event.preventDefault(); saveAndSendData();"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <textarea
      id="fish-data"
      placeholder="Type here..."
      rows="10"
      cols="50"
    ></textarea>
    <div
      style="
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      "
    >
      <button type="submit" class="button_container">Save</button>
      <button
        type="button"
        onclick="clearCachedInput();"
        class="button_container"
      >
        Clear Cache
      </button>
    </div>
  </form>
</div>
<div
  class="suggestions-container"
  id="suggestions-container"
  style="display: none"
>
  <h2 id="invalid-fish-text" style="text-align: center">
    You entered some invalid fish names
  </h2>
  <ul class="invalid-fish-list" id="invalid-fish-list"></ul>
</div>
<script src="{{ url_for('static', filename='js/displaySuggestions.js')}}"></script>
<script src="{{ url_for('static', filename='js/saveAndSendData.js')}}"></script>
{% endblock %}
