{% extends "base.html" %}

<!-- {% block body_attributes %} style="--fish-count: {{uncaught|length }}" {% endblock %} -->
{% block first_a_attributes %} class="gear settings-menu" {% endblock %} {%
block second_a_attributes %} href="/" {% endblock %} {% block second_a_inner %}
Home {% endblock %} {% block third_a_attributes %} class="active"
href="/fish-input"{% endblock %} {% block third_a_inner %} Input Data {%
endblock %} {% block body %}
<h1>Enter the fish you have caught (one per line):</h1>
<div class="flex-wrap display: flex-wrap">
  <form
    id="fish-form"
    onsubmit="event.preventDefault(); saveAndSendData();"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <textarea
      id="fish-data"
      placeholder="Type here..."
      rows="10"
      cols="50"
      style="resize: none; display: block; margin: 0 auto; padding: 8px"
      onkeydown="preventEnter(event);"
    ></textarea>
    <div
      style="
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
      "
    >
      <button type="submit" class="button_container">Save</button>
      <button
        type="button"
        onclick="clearCachedInput();"
        class="button_container"
      >
        Clear Cache
      </button>
    </div>
  </form>
</div>
<div id="suggestions-container" style="display: none">
  <h2 id="invalid-fish-text">You entered some invalid fish names</h2>
  <ul id="invalid-fish-list"></ul>
</div>
<div id="loader" class="loader_spinner_wrapper" style="display: none">
  <div class="loader_spinner"></div>
</div>
<script src="{{ url_for('static', filename='js/displaySuggestions.js')}}"></script>
<script src="{{ url_for('static', filename='js/saveAndSendData.js')}}"></script>
{% endblock %}
