{% extends "base.html" %} {% block body_attributes %} style="--fish-count:
{{uncaught|length }}" {% endblock %} {% block first_a_attributes %} class="gear
settings-menu" {% endblock %} {% block second_a_attributes %} class="active"
href="/" {% endblock %} {% block second_a_inner %} Home {% endblock %} {% block
third_a_attributes %} href="/fish-input"{% endblock %} {% block third_a_inner %}
Input Data {% endblock %} {% block body %}
<h1>ACNH Fish Spawning Calendar</h1>
{% if image_url %}
<div class="image_container_outer">
  <div class="image_container_inner">
    <div class="hemisphere_selection_outer">
      <div class="hemisphere_selection_btns">
        <form action="/" method="post" id="hemisphereForm"></form>
        <button
          type="submit"
          name="hemisphere"
          value="NH"
          class="svg_button_container"
          id="hemisphereButton"
          onclick="toggleHemisphere()"
        >
          <svg
            id="hemisphereSvg"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="#000000"
            class="bi bi-circle-half"
            transform="rotate(90)"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"
              ></path>
            </g>
          </svg>
        </button>
      </div>
      <div class="hemisphere_selection_text">Change Hemispheres</div>
    </div>
    <img
      id="image"
      src="{{ url_for('static', filename='images/' + image_url.split('/')[-1]) }}"
      alt="Spawning Calendar"
    />
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var lastHemisphere = localStorage.getItem("lastHemisphere");
    if (!lastHemisphere) {
      lastHemisphere = "NH";
    }
    setHemisphere(lastHemisphere);
  });
</script>
<script src="{{ url_for('static', filename='js/setHemisphere.js')}}"></script>
<script src="{{ url_for('static', filename='js/toggleHemisphere.js')}}"></script>
{% endif %}

<div style="padding-left: 2%;">
  <h2>List of All Fish:</h2>
  <button
    onclick="toggleFishList('fish_list_container', 'all_fish_btn')"
    id="all_fish_btn"
    class="button_container"
  >
    Show
  </button>
</div>

<div id="fish_list_container" style="display: none">
  <div class="fish_list_count">Total Fish: {{ fish_list|length }}</div>
  <div id="all_fish_list_container" class="fish_list_container"></div>
</div>

<div style="padding-left: 2%;">
  <h2>List of Uncaught Fish:</h2>
  <button
    onclick="toggleFishList('uncaught-fish-list-container', 'uncaught_fish_btn')"
    id="uncaught_fish_btn"
    class="button_container"
  >
    Show
  </button>
</div>

<div id="uncaught-fish-list-container" style="display: none ">
  <div class="fish_list_count">Total Uncaught Fish: {{ uncaught_fish|length }}</div>
  <div id="uncaught_fish_list_container" class="fish_list_container"></div>
</div>
<div id="fish-data" data-fish-list='{{ fish_list | tojson }}' data-uncaught-fish='{{ uncaught_fish | tojson }}'></div>
<script>
  function fetchFishData(fishName, containerId) {
    fetch(`/fish-info/${fishName}`)
      .then(response => response.json())
      .then(data => {
        if (data.error) {
          console.error(`Fish not found: ${fishName}`);
          return;
        }

        const fishCard = document.createElement('div');
        fishCard.classList.add('fish-card');

        const fishImage = document.createElement('img');
        fishImage.src = data.image;
        fishImage.alt = data.name;

        const fishNameElement = document.createElement('div');
        fishNameElement.textContent = data.name;
        fishNameElement.classList.add('fish-card-info')

        const fishPrice = document.createElement('div');
        fishPrice.innerHTML = `Price: ${data.sellPrice} Bells`;
        fishPrice.classList.add('fish-card-info')

        const fishLocation = document.createElement('div');
        fishLocation.innerHTML = `Location: ${data.location}`;
        fishLocation.classList.add('fish-card-info')

        const fishSize = document.createElement('div');
        fishSize.innerHTML = `Size: ${data.size}`;
        fishSize.classList.add('fish-card-info')

        const fishTime = document.createElement('div');
        fishTime.innerHTML = `Time Available: ${data.time}`;
        fishTime.classList.add('fish-card-info')

        const nhMonths = document.createElement('div');
        nhMonths.innerHTML = `NH Months:<br>${data.nhMonths.map((month, index) => month ? (index + 1) : '').filter(Boolean).join(', ')}`;
        nhMonths.classList.add('fish-card-info')

        const shMonths = document.createElement('div');
        shMonths.innerHTML = `SH Months:<br>${data.shMonths.map((month, index) => month ? (index + 1) : '').filter(Boolean).join(', ')}`;
        shMonths.classList.add('fish-card-info')

        fishCard.append(fishImage, fishNameElement, fishPrice, fishLocation, fishSize, fishTime, nhMonths, shMonths);

        document.getElementById(containerId).appendChild(fishCard);
      })
      .catch(error => {
        console.error('Error fetching fish data:', error);
      });
  }

  // Reusable function to fetch data for each fish in the list
  function fetchFishForSection(fishList, containerId) {
    fishList.forEach(fishName => {
      fetchFishData(fishName, containerId);
    });
  }
  const dataElement = document.getElementById('fish-data');
  const allFish = JSON.parse(dataElement.getAttribute('data-fish-list'));
  const uncaughtFish = JSON.parse(dataElement.getAttribute('data-uncaught-fish'));

  fetchFishForSection(allFish, 'all_fish_list_container');
  fetchFishForSection(uncaughtFish, 'uncaught_fish_list_container');
</script>

<script src="{{ url_for('static', filename='js/toggleFishList.js')}}"></script>
<script>
  // Spin entire site when hemisphere is changed if spin is enabled
  document.addEventListener("DOMContentLoaded", function () {
    var hemisphereButton = document.getElementById("hemisphereButton");
    if (hemisphereButton) {
      hemisphereButton.addEventListener("click", function () {
        var spinEnabled = localStorage.getItem("spin_enabled") === "false";
        if (!spinEnabled) {
          document.body.classList.add("everything_spin");
          setTimeout(() => {
            document.body.classList.remove("everything_spin");
          }, 400);
        }
      });
    }
  });
</script>
{% endblock %}
